Repository input-output-hk/chain-libs, pull requests merged in 2020-12, with the labels that each got.

#495 change vote plan error message in ledger
  chain-impl-mockchain/src/ledger/ledger.rs
  chain-impl-mockchain/src/stake/controlled.rs
  chain-impl-mockchain/src/utxo.rs
  chain-impl-mockchain/src/vote/ledger.rs
  imhamt/Cargo.toml
  imhamt/src/hamt.rs
  imhamt/src/lib.rs
  imhamt/src/node/reference.rs
  imhamt/src/operation.rs
Labels: cleanup, enhancement

#496 remove unused CI configs
  .appveyor.yml
  .ci/before_deploy.ps1
  .travis.yml
Labels: cleanup

#500 [Tests] expose committee keys in vote plan template
  chain-impl-mockchain/src/testing/e2e/mod.rs
  chain-impl-mockchain/src/testing/scenario/template/builders.rs
  chain-impl-mockchain/src/testing/scenario/template/mod.rs
Labels: test

#501 chain-impl-mockchain: check the length of private vote ciphertext before applying it
  chain-impl-mockchain/src/testing/scenario/controller.rs
  chain-impl-mockchain/src/vote/manager.rs
Labels: VOTE, bug
