Repository input-output-hk/chain-libs, pull requests merged in 2020-10, with the labels that each got.

#454 Envote tools integration
  chain-vote/src/committee.rs
  chain-vote/src/gang/p256k1.rs
  chain-vote/src/gargamel.rs
  chain-vote/src/lib.rs
  chain-vote/src/shvzk.rs
  chain-vote/src/unit_vector.rs
Labels: bug, enhancement

#445 Add node ID authentication to protocol handshake
  chain-crypto/src/key.rs
  chain-crypto/src/sign.rs
  chain-network/Cargo.toml
  chain-network/proto/node.proto
  chain-network/src/core/server/block.rs
  chain-network/src/core/server/node.rs
  chain-network/src/data/handshake.rs
  chain-network/src/data/mod.rs
  chain-network/src/data/p2p.rs
  chain-network/src/error.rs
  chain-network/src/grpc/client.rs
  chain-network/src/grpc/server.rs
Labels: breaking-change, enhancement

#460 Missing pieces and lints from ecnvote branch
  chain-vote/src/committee.rs
  chain-vote/src/gang/p256k1.rs
  chain-vote/src/gargamel.rs
  chain-vote/src/lib.rs
  chain-vote/src/shvzk.rs
  chain-vote/src/unit_vector.rs
Labels: enhancement

#453 Multiverse GC improvements + permanent store flush fix
  chain-impl-mockchain/src/multiverse.rs
  chain-storage/src/block_store.rs
  chain-storage/src/tests.rs
Labels: enhancement

#463 [Test] allow to define vote_phases and id
  chain-impl-mockchain/src/testing/scenario/template/builders.rs
  chain-impl-mockchain/src/testing/scenario/template/mod.rs
Labels: test

#458 [Tests] pack of unit tests for header
  chain-impl-mockchain/src/accounting/account/account_state.rs
  chain-impl-mockchain/src/header/cstruct.rs
  chain-impl-mockchain/src/header/test.rs
  chain-impl-mockchain/src/header/version.rs
Labels: test

#464 [Test] ledger block0 errors tests
  chain-impl-mockchain/src/ledger/tests/certificate_tests/voting.rs
  chain-impl-mockchain/src/ledger/tests/initial_funds_tests.rs
  chain-impl-mockchain/src/ledger/tests/ledger_tests.rs
  chain-impl-mockchain/src/testing/builders/initial_builder.rs
  chain-impl-mockchain/src/testing/e2e/vote.rs
  chain-impl-mockchain/src/testing/scenario/template/builders.rs
Labels: test

#465 Chain vote serialization
  chain-vote/src/committee.rs
  chain-vote/src/gang/p256k1.rs
  chain-vote/src/gargamel.rs
  chain-vote/src/lib.rs
Labels: VOTE, enhancement

#469 Expose more vote keys conversions
  chain-vote/src/committee.rs
  chain-vote/src/gargamel.rs
Labels: VOTE

#471 [Tests] distribution rewards tests
  chain-impl-mockchain/src/ledger/tests/certificate_tests/voting.rs
  chain-impl-mockchain/src/ledger/tests/initial_funds_tests.rs
  chain-impl-mockchain/src/testing/e2e/rewards/tax.rs
  chain-impl-mockchain/src/testing/ledger.rs
Labels: test

#472 [Tests] test case for votes with fees verification
  chain-impl-mockchain/src/ledger/tests/initial_funds_tests.rs
  chain-impl-mockchain/src/testing/e2e/vote.rs
  chain-impl-mockchain/src/testing/scenario/template/builders.rs
  chain-impl-mockchain/src/testing/scenario/template/mod.rs
Labels: test

#466 Private voting
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/certificate/encrypted_vote_tally.rs
  chain-impl-mockchain/src/certificate/mod.rs
  chain-impl-mockchain/src/certificate/test.rs
  chain-impl-mockchain/src/certificate/vote_plan.rs
  chain-impl-mockchain/src/certificate/vote_tally.rs
  chain-impl-mockchain/src/fragment/mod.rs
  chain-impl-mockchain/src/fragment/test.rs
  chain-impl-mockchain/src/ledger/ledger.rs
  chain-impl-mockchain/src/ledger/recovery.rs
  chain-impl-mockchain/src/testing/builders/tx_cert_builder.rs
  chain-impl-mockchain/src/testing/e2e/mod.rs
  chain-impl-mockchain/src/testing/e2e/vote_private.rs
  chain-impl-mockchain/src/testing/e2e/vote_public.rs
  chain-impl-mockchain/src/testing/gen/vote.rs
  chain-impl-mockchain/src/testing/scenario/controller.rs
  chain-impl-mockchain/src/testing/scenario/fragment_factory.rs
  chain-impl-mockchain/src/testing/scenario/template/builders.rs
  chain-impl-mockchain/src/testing/scenario/template/mod.rs
  chain-impl-mockchain/src/vote/ledger.rs
  chain-impl-mockchain/src/vote/manager.rs
  chain-impl-mockchain/src/vote/mod.rs
  chain-impl-mockchain/src/vote/payload.rs
  chain-impl-mockchain/src/vote/status.rs
  chain-impl-mockchain/src/vote/tally.rs
  chain-vote/src/commitment.rs
  chain-vote/src/committee.rs
  chain-vote/src/encrypted.rs
  chain-vote/src/gang/p256k1.rs
  chain-vote/src/gargamel.rs
  chain-vote/src/lib.rs
  chain-vote/src/shvzk.rs
  chain-vote/src/unit_vector.rs
  typed-bytes/src/builder.rs
Labels: VOTE, enhancement

#473 Fix clippy lint in chain-vote
  chain-vote/src/shvzk.rs
Labels: cleanup

#474 allow imhamt lookup with borrow types
  imhamt/src/hamt.rs
  imhamt/src/node/reference.rs
Labels: enhancement
