Repository input-output-hk/chain-libs, pull requests merged in 2021-08, with the labels that each got.

#610 Fix clippy 0.1.54 lints
  chain-crypto/src/algorithms/sumed25519/sum.rs
  chain-crypto/src/algorithms/vrf/vrf.rs
  chain-impl-mockchain/src/header/cstruct.rs
  chain-impl-mockchain/src/leadership/genesis/vrfeval.rs
  chain-impl-mockchain/src/ledger/ledger.rs
  chain-impl-mockchain/src/ledger/recovery.rs
  chain-impl-mockchain/src/legacy.rs
  chain-impl-mockchain/src/stake/distribution.rs
  chain-impl-mockchain/src/transaction/transaction.rs
  chain-impl-mockchain/src/vote/ledger.rs
  chain-impl-mockchain/src/vote/manager.rs
  chain-network/src/data/p2p.rs
  chain-ser/src/abor.rs
  chain-ser/src/mempack.rs
  chain-vote/src/committee.rs
  chain-vote/src/cryptography/elgamal.rs
  chain-vote/src/cryptography/zkps/correct_share_generation/zkp.rs
  chain-vote/src/tally.rs
  imhamt/src/hamt.rs
  imhamt/src/helper.rs
  imhamt/src/node/reference.rs
  sparse-array/src/fast.rs
  sparse-array/src/sparse_array.rs
Labels: cleanup

#613 make Ledger::settings return an immutable ref
  chain-impl-mockchain/src/ledger/ledger.rs
Labels: enhancement, breaking-change

#617 set valid_until directly test tx builder
  chain-impl-mockchain/src/testing/builders/tx_cert_builder.rs
  chain-impl-mockchain/src/testing/scenario/fragment_factory.rs
  chain-impl-mockchain/src/vote/manager.rs
Labels: test, breaking-change

#619 TTL Max Expiry Epochs Test
  chain-impl-mockchain/src/ledger/tests/transaction_tests.rs
  chain-impl-mockchain/src/testing/ledger.rs
Labels: test
