Repository input-output-hk/chain-libs, pull requests merged in 2021-02, with the labels that each got.

#520 Support offline private tally in ledger
  chain-impl-mockchain/src/certificate/mod.rs
  chain-impl-mockchain/src/certificate/vote_tally.rs
  chain-impl-mockchain/src/testing/builders/vote.rs
  chain-impl-mockchain/src/testing/e2e/vote_private.rs
  chain-impl-mockchain/src/testing/scenario/controller.rs
  chain-impl-mockchain/src/vote/ledger.rs
  chain-impl-mockchain/src/vote/manager.rs
  chain-impl-mockchain/src/vote/tally.rs
Labels: VOTE, breaking-change, enhancement

#524 parallelize private tally computation
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/vote/manager.rs
  chain-vote/src/lib.rs
Labels: VOTE, enhancement

#525 Fix clippy 1.50 new lints
  chain-impl-mockchain/src/certificate/delegation.rs
  chain-impl-mockchain/src/certificate/encrypted_vote_tally.rs
  chain-impl-mockchain/src/certificate/pool.rs
  chain-impl-mockchain/src/certificate/vote_cast.rs
  chain-impl-mockchain/src/certificate/vote_plan.rs
  chain-impl-mockchain/src/certificate/vote_tally.rs
  chain-impl-mockchain/src/leadership/bft.rs
  chain-impl-mockchain/src/leadership/mod.rs
  chain-impl-mockchain/src/ledger/check.rs
  chain-impl-mockchain/src/ledger/ledger.rs
  chain-impl-mockchain/src/transaction/payload.rs
Labels: breaking-change, cleanup

#521 [Tests] tally benches
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/benches/tally.rs
  chain-impl-mockchain/src/ledger/tests/initial_funds_tests.rs
  chain-impl-mockchain/src/lib.rs
  chain-impl-mockchain/src/testing/data/vote.rs
  chain-impl-mockchain/src/testing/ledger.rs
  chain-impl-mockchain/src/testing/mod.rs
Labels: test

#527 use fake cryptographic PRNG for preparatory work in tally benches
  chain-impl-mockchain/benches/tally.rs
Labels: bench

#530 build all benchmarks with debuginfo
  Cargo.toml
Labels: bench

#532 update `rand` stack and migrate to `curve25519-dalek-ng`
  chain-crypto/Cargo.toml
  chain-crypto/src/algorithms/vrf/dleq.rs
  chain-crypto/src/algorithms/vrf/vrf.rs
  chain-crypto/src/asymlock.rs
  chain-crypto/src/multilock.rs
  chain-impl-mockchain/Cargo.toml
  chain-network/Cargo.toml
  chain-storage/Cargo.toml
  chain-vote/Cargo.toml
Labels: update-deps

#531 Big Bench
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/benches/tally.rs
Labels: bench
