Repository input-output-hk/chain-libs, pull requests merged in 2021-01, with the labels that each got.

#504 fix the panic when trying to vote for a non-existent private proposal
  chain-impl-mockchain/src/vote/manager.rs
Labels: VOTE, bug

#505 Removed elided lifetimes
  cardano-legacy-address/src/base58.rs
  chain-addr/src/lib.rs
  chain-crypto/src/digest.rs
  chain-impl-mockchain/src/account.rs
  chain-impl-mockchain/src/block/mod.rs
  chain-impl-mockchain/src/certificate/delegation.rs
  chain-impl-mockchain/src/certificate/encrypted_vote_tally.rs
  chain-impl-mockchain/src/certificate/pool.rs
  chain-impl-mockchain/src/certificate/vote_cast.rs
  chain-impl-mockchain/src/certificate/vote_plan.rs
  chain-impl-mockchain/src/certificate/vote_tally.rs
  chain-impl-mockchain/src/config.rs
  chain-impl-mockchain/src/fee.rs
  chain-impl-mockchain/src/fragment/config.rs
  chain-impl-mockchain/src/fragment/mod.rs
  chain-impl-mockchain/src/header/header.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/leadership/mod.rs
  chain-impl-mockchain/src/ledger/check.rs
  chain-impl-mockchain/src/ledger/governance/parameters.rs
  chain-impl-mockchain/src/ledger/governance/treasury.rs
  chain-impl-mockchain/src/ledger/ledger.rs
  chain-impl-mockchain/src/ledger/recovery.rs
  chain-impl-mockchain/src/legacy.rs
  chain-impl-mockchain/src/multisig/witness.rs
  chain-impl-mockchain/src/stake/delegation.rs
  chain-impl-mockchain/src/stake/distribution.rs
  chain-impl-mockchain/src/transaction/element.rs
  chain-impl-mockchain/src/transaction/input.rs
  chain-impl-mockchain/src/transaction/io.rs
  chain-impl-mockchain/src/transaction/mod.rs
  chain-impl-mockchain/src/transaction/payload.rs
  chain-impl-mockchain/src/transaction/transfer.rs
  chain-impl-mockchain/src/transaction/witness.rs
  chain-impl-mockchain/src/update.rs
  chain-impl-mockchain/src/value.rs
  chain-impl-mockchain/src/vote/committee.rs
  chain-impl-mockchain/src/vote/payload.rs
  chain-ser/src/mempack.rs
Labels: cleanup

#513 [Tests] Vote test structs
  chain-impl-mockchain/src/ledger/tests/transaction_tests.rs
  chain-impl-mockchain/src/testing/arbitrary/transaction.rs
  chain-impl-mockchain/src/testing/builders/mod.rs
  chain-impl-mockchain/src/testing/builders/vote.rs
  chain-impl-mockchain/src/testing/data/mod.rs
  chain-impl-mockchain/src/testing/data/vote.rs
  chain-impl-mockchain/src/testing/e2e/vote_private.rs
Labels: test

#512 Update tonic and prost for tokio1 support
  chain-network/Cargo.toml
Labels: update-deps

#514 use strict inequality for stopping private vote tally iteration
  chain-impl-mockchain/src/vote/manager.rs
  chain-vote/src/lib.rs
Labels: VOTE, enhancement

#517 Fix clippy lints in tests
  chain-impl-mockchain/src/ledger/ledger.rs
  chain-impl-mockchain/src/testing/arbitrary/kind_type.rs
  chain-impl-mockchain/src/utxo.rs
Labels: cleanup
