Repository input-output-hk/chain-libs, pull requests merged in 2021-07, with the labels that each got.

#592 Generalise dleq
  chain-crypto/benches/vrf.rs
  chain-crypto/src/algorithms/mod.rs
  chain-crypto/src/algorithms/vrf/dleq.rs
  chain-crypto/src/algorithms/vrf/mod.rs
  chain-crypto/src/algorithms/vrf/vrf.rs
  chain-crypto/src/algorithms/zkps/challenge_context.rs
  chain-crypto/src/algorithms/zkps/dleq.rs
  chain-crypto/src/algorithms/zkps/mod.rs
  chain-vote/src/cryptography/mod.rs
  chain-vote/src/cryptography/zkps/correct_decryption/correct_decryption_zkp.rs
  chain-vote/src/cryptography/zkps/correct_decryption/mod.rs
  chain-vote/src/cryptography/zkps/correct_decryption/zkp.rs
  chain-vote/src/cryptography/zkps/correct_share_generation/mod.rs
  chain-vote/src/cryptography/zkps/correct_share_generation/zkp.rs
  chain-vote/src/cryptography/zkps/mod.rs
  chain-vote/src/cryptography/zkps/unit_vector/mod.rs
  chain-vote/src/cryptography/zkps/unit_vector/zkp.rs
  chain-vote/src/tally.rs
Labels: crypto

#598 Update to tonic 0.5 and prost 0.8
  chain-network/Cargo.toml
  chain-network/src/grpc/client.rs
Labels: dependencies

#602 Update to tonic-build 0.5.1
  chain-network/Cargo.toml
  chain-network/src/grpc/client.rs
Labels: cleanup, dependencies

#603 chain-core: remove unused dependencies
  chain-core/Cargo.toml
Labels: cleanup

#554 sparse-array: proptest usage proof-of-concept
  sparse-array/Cargo.toml
  sparse-array/src/bitmap.rs
  sparse-array/src/fast.rs
  sparse-array/src/lib.rs
  sparse-array/src/sparse_array.rs
  sparse-array/src/testing.rs
Labels: refactoring, test

#606 move chain-test-utils to chain-impl-mockchain
  Cargo.toml
  chain-impl-mockchain/Cargo.toml
  chain-impl-mockchain/src/block/test.rs
  chain-impl-mockchain/src/fragment/test.rs
  chain-impl-mockchain/src/header/test.rs
  chain-impl-mockchain/src/key.rs
  chain-impl-mockchain/src/testing/mod.rs
  chain-impl-mockchain/src/testing/serialization.rs
  chain-impl-mockchain/src/transaction/test.rs
  chain-impl-mockchain/src/update.rs
  chain-test-utils/Cargo.toml
  chain-test-utils/src/lib.rs
Labels: cleanup, test

#589 disallow multiple ballots for same proposal from same address
  chain-impl-mockchain/src/testing/e2e/vote_public.rs
  chain-impl-mockchain/src/vote/manager.rs
Labels: VOTE, enhancement

#605 chain-evm: implement basic storage backend
  Cargo.toml
  chain-evm/Cargo.toml
  chain-evm/src/lib.rs
  chain-evm/src/state/account.rs
  chain-evm/src/state/mod.rs
  chain-evm/src/state/storage.rs
  chain-evm/src/state/trie.rs
Labels: evm, feature

#608 [Test] Add API tests
  chain-impl-mockchain/src/testing/e2e/fees.rs
Labels: test

#607 [Test] Vote manager conflict payloads
  chain-impl-mockchain/src/testing/data/vote.rs
  chain-impl-mockchain/src/testing/e2e/vote_private.rs
  chain-impl-mockchain/src/testing/e2e/vote_public.rs
  chain-impl-mockchain/src/testing/gen/mod.rs
  chain-impl-mockchain/src/testing/gen/vote.rs
  chain-impl-mockchain/src/vote/manager.rs
Labels: test
