Repository input-output-hk/chain-libs, pull requests merged in 2022-01, with the labels that each got.

#725 Add voting token to VotePlanStatus
  chain-impl-mockchain/src/vote/manager.rs
  chain-impl-mockchain/src/vote/status.rs
Labels: enhancement

#732 Port update proposals helpers to master (#695)
  chain-impl-mockchain/src/ledger/tests/certificate_tests/update.rs
  chain-impl-mockchain/src/testing/scenario/controller.rs
  chain-impl-mockchain/src/testing/scenario/fragment_factory.rs
Labels: test

#733 Cleanup & update EVM dependencies
  chain-evm/Cargo.toml
  chain-evm/src/precompiles/hash.rs
  chain-evm/src/precompiles/secp256k1.rs
Labels: cleanup, evm
